examples/post-status.json
[
    {
        "id": "b476eec84967cc1d",
        "type": "tab",
        "label": "example: Post Status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ede457452d2aa21",
        "type": "post-status",
        "z": "b476eec84967cc1d",
        "name": "",
        "instance": "7b4e400eed228fac",
        "visibility": "unlisted",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "f3cb83733a2f125e"
            ]
        ]
    },
    {
        "id": "f6ebb91f2a0385a2",
        "type": "inject",
        "z": "b476eec84967cc1d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "b31caac4c51dc96b"
            ]
        ]
    },
    {
        "id": "f3cb83733a2f125e",
        "type": "debug",
        "z": "b476eec84967cc1d",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 140,
        "y": 140,
        "wires": []
    },
    {
        "id": "b31caac4c51dc96b",
        "type": "template",
        "z": "b476eec84967cc1d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "✨ {{payload}} ✨",
        "output": "str",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "7ede457452d2aa21"
            ]
        ]
    },
    {
        "id": "7b4e400eed228fac",
        "type": "fediverse-instance",
        "apiurl": "https://mastodon.social",
        "kind": "mastodon"
    }
]